[2015-05-20 03:26] iRajul opened #1 "with ionic framework , icon are not appearing in right position."
with ionic framework , icon are not appearing in right position.
This is my code:
[code]

[2015-05-20 15:25] souly1 commented on #1
Hi Rajul,
I ran the code and for me it is running as expected except for a bug where marked area was rectangular instead of with round edges, this was fixed.
Could you send a print screen or elaborate what is the behaviour you got and what is the behaviour you expect? Thanks.
also, take note to properties 'icon-paddin-left' and 'icon-padding-top' which you entered and you can use to fine tune the

[2015-05-24 09:00] souly1 commented on #1
Hey,
Since I did not receive any feedback after more than 4 days, I'm closing this issue.

[2015-05-24 09:00] #1 closed

[2015-06-08 14:44] ziobudda opened #2 "more image for single "page""
Hi, is it possibile to have more than 1 image for a single page/state  where I need to swipe to see the 2nd, 3rd, etc etc image ?

Like:
`<walkthrough>`
`<img src="img1">`
`<img src="img2">`
`</walkthrough>`

M.

[2015-06-10 12:58] souly1 commented on #2
Hi,
I'm assuming you mean the 3rd demo option, using the transpose. Yes you can't use any simple HTML you like, such as display multiple images

[2015-06-11 09:31] ziobudda commented on #2
Hi, Yes I talk about 3rd demo option, but sorry I have not understand how to use multiple image. I need to use my "swipe" to change image or is there an option inside your plugin ? Sorry for bad english and (maybe) for the stupid question.

[2015-06-18 17:05] souly1 commented on #2
Hey Zio, Sorry for the late reply,
I'm not sure, but it seems like you  wanted to do a walkthrough  in the 'Tour' pattern (see 'http://www.uxbooth.com/articles/mobile-design-patterns/' what i mean) if that is the case then this walkthrough as it is written today does not solve that pattern.
As long as you managed....
Good luck

[2015-06-18 17:05] #2 closed

[2015-08-09 13:08] ricolo opened #3 "Walkthrough hole not at the right position with header bar in Ionic"
Hi @souly1, thank you for developing this plugin. When I use it with Ionic header layout, the walkthrough hole is not at the right position as shown below, where "click me" button should be highlighted instead:
![screen shot 2015-08-09 at 8 56 01 pm](https://cloud.githubusercontent.com/assets/1523360/9154955/c0870e6e-3ed9-11e5-9d72-667a7622ccc3.png)

It seems that [angular element's offsetTop](htt

[2015-08-19 09:54] area commented on #3
It looks like someone has fixed this in one of the forks of this repository:

https://github.com/CrearAyT/ng-walkthrough/commit/3e070271711564d7516c936e8fbf1512096f3f5c

[2015-08-20 12:36] souly1 commented on #3
Well finally back and available to attend such issues, sorry for the delay.
Thanks @area for sharing the link, I've incorporated @pardo-bsso 's changes, updated and thanked him. In the plunker the issue seems solved, Update me with additional issues,
thanks

[2015-08-20 14:57] pardo-bsso commented on #3
Thanks guys. I thought that I made a PR for this. Sorry about that.

[2015-08-26 23:40] pardo-bsso opened #4 "[question] Icon position not set when using an url"
Hi again,
I'm using something like this:

[code]

and I had to make this change: https://github.com/CrearAyT/ng-walkthrough/commit/56fcad1d15d6c5d8750987de219cc58f22ddee8a because otherwise the icon is not positioned over the element. Is this really needed or am I doing something wrong? (that branch is rebased on top of your master)

Thanks.

[2015-08-27 07:24] souly1 commented on #4
you have the attributes 'icon-padding-left' and 'icon-padding-top' to quickly and simply place the icon to your liking, did you try them out?

[2015-08-27 11:02] pardo-bsso commented on #4
Sorry, forgot that.
With a clean checkout of master and using:

[code]

The provided image appears but always horizontally centered at the top no matter what I put on the paddings.

For example, on the screenshot below the selector is for the heart icon on the navbar and with that padding (440) it should be positioned almost all the way to the bottom of the viewport while pointing at the heart and

[2015-08-27 18:52] souly1 commented on #4
Ok, updated the directive. Several things:
The old walkthrough did not support elements on the nav.bar, now it does but with special behaviour:
you will need to give a large left offset as the offset value jQuery retrieves for nav. bar is zero. in the Top offset i required a positive value so it won't be hidden behind the header (Icon won't be on element but rather close below).
In addition the na

[2015-08-30 14:26] HugoHeneault opened #5 "Handle screen resize"
Hello,

Thanks for your plugin. :)

I have an issue when the screen is resized (for example when the keyboard opens on mobile): the hole's position is not updated, nor the icon.

Any ideas on how to fix it? A resize method, maybe?

Thanks !

[2015-08-31 10:37] souly1 commented on #5
Hi Hugo, could you perhaps give a specific example and a screenshot? Why would one have the keyboard open during the on boarding? Is it before it activates or is there an input field on the on boarding page itself?

[2015-08-31 12:38] HugoHeneault commented on #5
Hi,

Let's assume the user has the keyboard open, and then triggers a walkthrough.
The walkthrough opens, and in the same time, the keyboard is closing.

The calculated walkthrough's size won't update after keyboard disappearance...

I'll try to submit a PR.

[2015-08-31 12:49] HugoHeneault commented on #5
See #6 :)

[2015-08-31 17:42] souly1 commented on #5
Hey Hugo, thanks for the fix, it has been incorporated into the code with several minor changes and an automation test for resizing added.

Thanks

[2015-08-31 17:42] #5 closed

[2015-09-01 01:55] djett41 opened #7 "Bower tag support"
right now when doing a bower install ng-walkthrough , your master branch is installed rather than a specific release.  In order to tag and release, from your root dir do

    bower version patch

This will create a tag for you and increment your patch version.  Then push the tag upstream and bower will automatically register that version with your plugin.  So when you do

    bower info ng-walkthr

[2015-09-01 09:08] souly1 commented on #7
Hi Devin, thanks for the post input and feedback.
I've added a tag (did it give the result you meant?), I'm not sure if I'll continue to maintain tag versioning at this moment as the walkthrough is still in pretty early stages, perhaps in the future.

[2015-09-01 14:16] #4 closed

[2015-09-03 03:10] djett41 commented on #7
No prob, yep everything good to go thanks!  Cool!  Even though you're in early stages it's still a good idea to version your pull requests to MASTER so your users wont be affected by any changes you make.  For example, If i'm using your plugin, then you commit something that breaks a feature I need, without versioning, people wont be able to use bower to install the version they need.

Thanks agai

[2015-09-03 03:10] #7 closed

[2015-09-04 23:29] souly1 commented on #7
Cool, will take into consideration, thanks again.

[2015-09-17 15:21] kreck commented on #3
Hey @souly1 - awesome module! However i'm also (and still) experiencing the said problem. Could it be due to the use of tabs?

[2015-09-17 19:15] souly1 commented on #3
Hi @kreck thanks for the feedback,
I'll try to look into it tomorrow, hopefully fixing this and adding unit tests as well.

[2015-09-19 14:05] souly1 commented on #3
Hry @kreck , issue fixed and test added.
Enjoy

[2015-09-19 14:05] #3 closed

[2015-09-20 14:21] kreck commented on #3
thanks a lot! I'll look into it tomorrow!

[2015-09-21 12:38] kreck commented on #3
Update: works as promised! Thanks again!

[2015-09-23 15:53] kreck opened #10 "not minification/uglification safe?"
It seems like the directive is not min/uglify-safe - can anyone confirm?
Potential fixes?

It works fine during development but not after packaging/minification/uglification in my case. I use a modified version of the yeoman generator-angular grunt file.

Regards

[2015-09-23 18:22] souly1 commented on #10
Hey,
I'm using it minified, and I double checked to verify and it indeed is minifying and works fine for me. I'm using a Cordova hook after_prepare using 'uglify-js' and 'clean-css'. What are the symptoms you get?

[2015-09-24 08:10] kreck commented on #10
![image](https://cloud.githubusercontent.com/assets/4924763/10068376/4005b01c-62a4-11e5-8175-5b1c96950b67.png)
![image](https://cloud.githubusercontent.com/assets/4924763/10068385/592f3568-62a4-11e5-9a51-ec8cb72eadb9.png)
![image](https://cloud.githubusercontent.com/assets/4924763/10068393/68e396a2-62a4-11e5-934e-839209ea0f73.png)
and Lexer errors continue... this only happens when including the d

[2015-09-27 06:35] randdusing opened #11 "Walkthrough covered by Header and Tabs"
I've added a walkthrough to one of my pages, but it's getting covered up by the header and the tabs. If I put in my body, it works fine, but it's a little harder to control from each page controller. Should it be getting covered up?

[2015-09-27 06:37] randdusing opened #12 "Walkthrough covered by Header and Tabs"
I've added a walkthrough to one of my pages, but it's getting covered up by the header and the tabs. If I put in my body, it works fine, but it's a little harder to control from each page controller. Should it be getting covered up?

[2015-09-27 06:37] #12 closed

[2015-09-27 06:52] randdusing commented on #11
Actually when I run it on iOS, the overlay screen doesn't show up at all, just the text and arrow. When I refresh the page and reset the is-active flag to true, it never shows up again.

[2015-09-28 09:23] randdusing commented on #11
Looks like the maximum spread value I can set on iOS is 1021px. Anything higher and it just disappears.. at least on an iPhone 5S running iOS 9.0.1

[2015-09-28 12:21] souly1 commented on #11
Hey @randdusing,
Regarding the first issue, at the current version the element acts as a regular directive thus influenced by the DOM location as any other DOM element, in Ionic's case, not covering header and tabs. In order to deal with this that at least these parts shall not be clickable you can use the 'isBindClickEventToBody' property.
Regarding the second iOS issue, I'll try to get to it in

[2015-10-11 15:47] souly1 commented on #10
Hey @kreck, after @hagai26 's change, get this version and check your issue, tell us if solved (Can't believe I missed it after you opened the issue, I need to check if mine minified correctly...)

[2015-10-12 10:01] kreck commented on #10
i'll check a.s.a.p. and will report here! Thanks

[2015-10-13 04:15] hagai26 opened #15 "on-walkthrough-hide is called twice"
one for click event and again for touch event.
Is there any workaround for that?
(Except of ignoring each odd call)

When using ionic serve.

[2015-10-13 15:08] souly1 commented on #15
Hi @hagai26 , I can't reproduce the behaviour on my examples, can you perhaps create a quick demonstration on plunker?

[2015-10-13 20:22] jeremycod opened #16 "Concatenation of javascripts doesn't work"
I'm trying to integrate ng-walkthrough with [Moodle mobile 2](https://github.com/moodlehq/moodlemobile2). However, I can't change core Moodle code, but only my module located at www/addons/mymodulename.
Moodle concatenates all the javascript files to www/build/mm.bundle.js and and all css files to www/build/mm.bundle.css, and includes it to index.html. Adding walkthrough in this way results in the

[2015-10-14 04:31] hagai26 commented on #15
Tried with no success.
In couple of days, I will try uploading my app (which has the bug) after removing the non relevant stuff.

[2015-10-14 04:56] jeremycod opened #17 "Tip position is always top"
tip-location="BOTTOM", but tip is always above focus area and arrow is not displayed properly . If first element of the list has focus, tip is hidden bellow.
![selection_065](https://cloud.githubusercontent.com/assets/5204745/10475145/f8f237f8-71f4-11e5-8954-3b9ee00a058d.png)

Sample code is given [here](https://github.com/jeremycod/ionicsamples)

[2015-10-14 05:28] jeremycod commented on #17
In addition to this, tip to specific ion-tab shows area outside the screen.
![selection_066](https://cloud.githubusercontent.com/assets/5204745/10475555/be3783de-71f9-11e5-96ac-67065f204bb0.png)

[2015-10-14 07:59] souly1 commented on #15
Cool, I'll take a look when somethings up.

[2015-10-14 08:11] souly1 commented on #17
Hi @jeremycod ,
Regarding the first issue, the tip-location attribute is for tip type walkthrough. When using the transparency type with arrow you can offset the arrow edge with the icon-padding-top/icon-padding-left attributes so it won't be hidden on top of the light color background and have it place as you want it to be, or you can change its color to a darker color (currently you'll have to d

[2015-10-14 21:00] jeremycod commented on #17
Hi @souly1 ,
Your proposal with the icon-padding-top/icon-padding-left attributes doesn't solve the first issue. I tried many possible values, but as the result valuses startLeft and startTop that are written to variable arrowSvgDom are always the same (startLeft:205.5 startTop:66 endTop:221 endLeft:161). It's only endTop and endLeft what is affected by these attributes, and this results in walkth

[2015-10-16 06:18] Murthy582 opened #19 "Ionic Material Icons overriding the walkthrough overlay"
Ionic Material Icons overriding the walkthrough overlay because of z-index. The z-index of ionic material icons is 9999. Please increase the z-index of the walkthrough overlay to make it work with Ionic material.

[2015-10-16 09:33] souly1 commented on #19
Thanks @Murthy582 for the input, I'll look into it when I'll have the time.
Did you change the z-index of the ng-walkthrouh elements for your App and see it solve the issue?

[2015-10-16 09:46] Murthy582 commented on #19
Yes, I changed the z-index of the walkthrough element and its working as expected.

[2015-10-16 09:50] souly1 commented on #19
Cool, Hopefully update added soon, I'll just have to test it and hopefully add automation tests to work with Ionic Material

[2015-10-17 09:13] souly1 commented on #17
Hi @jeremycod , I've issued a new improved fix using an attribute 'force-caption-location', please update  if issue solved.
Thanks

[2015-10-17 16:24] souly1 commented on #19
@Murthy582 , I tried out working with Ionic Material, even went through the CSS to find the elements that have the z-index: 9999, added a .button.button-fab but no issues rose,
could you perhaps set a quick plunker example so the issue can be seen?
thanks.
The control can be seen as round button in image:
![screen shot 2015-10-17 at 7 23 16 pm](https://cloud.githubusercontent.com/assets/6670452/10

[2015-10-17 18:08] jeremycod commented on #17
Hi @souly1,

Thank you for your work on solving these issues. I'll try this today and let you know. However, in the meantime I already found something that solved the issue for me. Attribute 'caption-on-bottom="true"' helped in these specific cases I had the problem. Is that something similar or 'force-caption-location' is better alternative?

For the other issue, I found that getBoundingClientRec

[2015-10-17 19:42] souly1 commented on #17
Cool, If you managed then that's what's important. if some day you require new features of the main branch feel free to check out force-caption-location which works better that the caption-on-bottom from another branch as it was not a generic solution and caused regression for several walkthroughs.
Closing the issue,
cheers

[2015-10-17 19:42] #17 closed

[2015-10-24 03:46] matthieu-D opened #20 "Slight vertical gap"
Hi,
I have slight gap between my id item and the round-icon. Is that something common and easy to fix? Like a padding-icon-top, or maybe I put something bad on my id css?

[2015-10-24 10:10] souly1 commented on #20
Hi,
Do you perhaps add a print-screen so we could better understand what you mean?

[2015-10-24 11:56] matthieu-D commented on #20
sure :
<img width="156" alt="screen shot 2015-10-24 at 09 55 55" src="https://cloud.githubusercontent.com/assets/5333018/10710351/8b25cf8e-7a35-11e5-845d-dd828029b469.png">

[2015-10-25 08:10] souly1 commented on #20
Assuming this needs to be on the dollar sign, this is not an issue solved by padding and such, but rather shows an issue with calculating the location correctly, which could happen for several different reasons.
The simplest attempt to solve is to place the walkthrough at a higher level within the DOM and see if that solves the issue.
The other option is creating an example on plunkr or similar an

[2015-10-25 13:13] matthieu-D commented on #20
Just seen that in the logs appears :
Unable to find element requested to be focused: #valid-price-button
As an info type log instead of an error or warning.
Really weird because the id is here, if I change for another id, it has the same behaviour.

[2015-10-25 13:47] souly1 commented on #20
Are those elements dynamic? or under ng-if? Maybe there is a rate condition to them being added to the DOM

[2015-10-25 13:59] matthieu-D commented on #20
One is the other not :

<div ng-if='vm.all().length != 0'>
      <i class="circle" id='trash-offer'>
        <i class='ionic-icon ion-trash-b'></i>
      </i>
    </div>
  </ion-content>
</ion-view>

[2015-10-25 14:29] matthieu-D commented on #20
I'm using it with ionic, it seems that the gap is the same as the header bar height.
Going to try to style=margin-top:-44px.

[2015-10-25 22:26] matthieu-D commented on #20
Ok.
I had some tabs that perfectly fit and didn't have a scroll-bar but the tab that I was working didn't fit perfectly for unknown reason and I had  a scroll-bar with  a 40 px to scroll.
I used a ionic-list to make it fit.

[2015-10-26 10:55] souly1 commented on #20
Well there is handling with the ionic header with automatic testing so sounds interesting that there is an issue for you, I'll look into it when available

[2015-11-04 21:36] souly1 commented on #19
closing due to not being able to reproduce

[2015-11-04 21:36] #19 closed

[2015-11-04 21:37] souly1 commented on #15
Anything new? otherwise i'll close this for now since i'm just not able to reproduce

[2015-11-04 21:38] souly1 commented on #10
Assumed issue closed, Minifies here and no update,
Thanks

[2015-11-05 07:19] hagai26 commented on #15
Hi,
Tried to use plunker with no success.

I uploaded my example to:
https://github.com/hagai26/ng-walkthrough-ionic-example

[2015-11-05 12:10] souly1 commented on #15
Ok, I'll take a look, Thanks

[2015-11-06 13:56] hagai26 opened #21 "on ios walkthrought is transparent"
sample code here:
https://github.com/hagai26/ng-walkthrough-ionic-example
run on ios device using:
ionic run --device

On browser (ionic serve) it looks great (dark). But on ios device it only show the text without the dark color background.

[2015-11-11 09:36] wrousseau opened #22 "Bower version does not match npm version"
Hi,

Thanks for the module, it looks really good!

Is there a reason why the bower version does not match the npm version ? And more importantly, is there a way to install the package using npm alone ? As I'm using webpack it needs to be able to require the module and I believe it does not work out of the box (probably as the module is trying to parse script tags to find itself in the DOM, in orde

[2015-11-11 15:08] souly1 commented on #22
Hi wrousseau,
There was not special reason for bower/npm not being in sync on same version, thanks for the input.
Regarding npm, there was no way to install via npm because no-one asked :) , now you can install with 'nam install ng-walkthrough'.

[2015-11-11 15:24] souly1 commented on #21
Hey Hagai, ran the code on an IOS Simulator (got Mac, don't have IOS device to install to though),
so I won't be able to help too much here at the moment, just mention that in simulator it's ok...

![screen shot 2015-11-11 at 5 22 03 pm](https://cloud.githubusercontent.com/assets/6670452/11094534/f04da7e4-8898-11e5-8bad-1cf038104b9e.png)

[2015-11-11 16:22] souly1 commented on #15
I Have a feeling this is connected to Angular/Ionic issue:
https://github.com/angular/angular.js/issues/6251

Together with the 300ms delay most browsers have after tap before click fire I'm introducing to the directive a workaround, ugly for now, with a 500ms timeout until one is allowed another touch event. I think people won't be clicking unless by mistake at a higher rate and then nothing is l

[2015-11-11 16:24] #15 closed

[2015-11-11 16:28] #22 closed

[2015-11-11 19:16] hagai26 commented on #15
Hi,
thanks for fixing this - it worked for me great.

At first, I had a strange behavior but after some debugging I understand different bug which didn't happened before (because the two clicks made it work) - I will open new issue for that.

[2015-11-11 19:30] hagai26 commented on #15
I think it's not actually an issue so I will write it up here:
I'm using onWalkthroughHide to make another walk to show with the following code:
[code]
This didn't work for me, after some debug came up with this solution:
[code]

[2015-11-11 19:42] hagai26 commented on #21
I tried the simulator and it worked for me too.
Moreover, I found an iPad which it worked fine on it (different version maybe).
I will debug this issue in couple of weeks (will borrow an iPad for debugging)

[2015-11-11 19:43] souly1 commented on #15
interesting, won't dig into this now, especially if you solved it, but as the solution involves timeout it could very much be connected to the animation of show hide backdrop (black background).
Great to hear

[2015-11-12 02:14] TonatiuhHorta commented on #21
I have the same problem on ios9 with Ionic, and found that changing the ".walkthrough-hole" box-shadow css it works again, but if i set the blur  on less than 3px or the distance on 0px it fails again, i hope this can help you.

This are the change on the css class.

.walkthrough-hole {
    position: absolute;
    -moz-box-shadow: 1px 1px 3px 1997px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 1px 1

[2015-11-19 03:32] matiastucci opened #23 "Ionic example"
Do you have some demo ionic app with ng-walkthrough integrated? Thanks!

[2015-11-19 08:23] souly1 commented on #23
Hi @matiastucci , no demo specific to ionic exists, what exactly do you need?
There is @hagai26 example for an issue which was closed which uses ionic which you can take a look at, but take note that it is a specific short solution which was created to surface an issue which existed with the directive once.

https://github.com/hagai26/ng-walkthrough-ionic-example

[2015-12-04 14:53] #23 closed

[2016-01-11 22:18] matthieu-D commented on #16
Anyone solved this or know another plugin easy to use?

[2016-01-20 08:40] blackpenny15 commented on #10
I'm seeing the same issue.

[2016-01-20 09:23] Elpetro opened #25 "Template path wrong on my Android Install"
Great directive, thanks for sharing.
In my tests on Android, it ends up adding plugin.js code in my HTML instead of the tutorial HTML template !
Debugging it seems that in ng-walkthrough.js the line

returns

instead of the template file

I could fix it hardcoding the templates and icons path as follows but I guess it's not a clean fix.

[2016-01-20 09:24] Elpetro commented on #21
Great workaround, the backdrop appears on my IOS9, thanks !
However the text is not displayed

[2016-01-20 12:39] blackpenny15 commented on #10
@souly1 It would seem you have been impugned in this case sir! It's taken some digging, but it seems like what's happening for @kreck and my self is in production we have a basic node script to serve up the index.html from dist,usually a catch all * route, whats happening is when the script requests ng-walkthrough.html, the server is sending the entire index.html back as the response. hopefully th

[2016-01-20 12:56] blackpenny15 commented on #10
var templateUrl = currentScriptPath.replace(new RegExp("ng-walkthrough.js.*"), 'ng-walkthrough.html');

this is the problem line, it presumes the first script is called ng-walkthrough.js, in the case of a yeoman project it will be vendor.js, so the replace fails, and just sucks in what ever script it can get it's hands on, so my previous comment was incorrect

[2016-01-20 13:16] souly1 commented on #25
Hi, thanks for the update. actually, as a directive, I think it might be cleaner if there was no dependency on an HTML file, so next version I'll embed the template into the js.
Thanks

[2016-01-20 13:21] souly1 commented on #10
Hi @blackpenny15, thanks for the input and digging in. Funny how things appear in the same time, @Elpetro just opened an issue which the cause is similar to this (https://github.com/souly1/ng-walkthrough/issues/25) I'll make the change mentioned there embedding the HTML into the directives js and we'll see if the issue is solved.

Thanks

[2016-01-24 14:09] souly1 commented on #25
Hi @Elpetro , new version has been released, can you please update me if the issue was solved?

Thanks

[2016-01-24 14:10] souly1 commented on #16
Hi @matthieu-D and @jeremycod  , new version has been released, can you please update me if the issue was solved?

Thanks

[2016-01-24 14:11] souly1 commented on #10
Hi @blackpenny15 , @kreck , new version has been released, 0.4.1. Can you please update me if the issue has been solved?

Thanks

[2016-01-24 17:17] matthieu-D commented on #16
I gave it a shot.
Since the bower registry hasn't been updated yet I just copied paste the main js and css file.
Not working, important point, I'm working with xcode to log my real device, I don't have an error, my problem is that every time that I add the directive to a view I get this :
![image1](https://cloud.githubusercontent.com/assets/5333018/12537733/6a774338-c294-11e5-91d7-6b11b0e82987.PNG

[2016-01-25 11:49] souly1 commented on #16
Interesting error, looks quite different from Jeremycod's. If you've replaced the js and css the changes should have persisted.
Anyhow,The bower registry has been updated, so you can reinstall.
Take note, if you're using any gesture icons (swipe/tap), make sure to load the
'ng-walkthrough.tap_icons.js' script as this is now used to load gestures, the icons folder has been removed for production.

[2016-01-25 14:34] matthieu-D commented on #16
I don't have the weird html rendered anymore, good.
But the walkthrough is not showing properly, I'll see that later, doesn't
seem to be very hard to fix(css).

2016-01-25 6:49 GMT-05:00 Ophir Stern <notifications@github.com>:

--
*Best Regards,*

*Matthieu DRULACEO and Entrepreneur *
*07432328222*

[2016-01-25 17:29] lior-greenblatt commented on #10
min/uglify seems to be working for me now

thank you

[2016-01-25 18:52] matthieu-D commented on #16
I had to manually add the css, my wiredep task didn't recognised didn't add the file.
Everything seems good aside from the iOS 9 bug from https://github.com/souly1/ng-walkthrough/issues/21.

[2016-01-25 19:38] matthieu-D commented on #20
Hm I have a small vertical gap on iOS9 of the size of the iphone status bar, annoying because iphones have different size of status bars ...

[2016-01-26 01:15] matthieu-D commented on #20
I added a -20px  margin-top(the status bar heigth).
It's working on my 5s and on the big 6s-plus  emulated  so I guess it's a quick fix.

[2016-01-27 13:09] souly1 commented on #20
Haven't tested on iOS aside to emulator but from what you're saying here, a quick simple fix, although somewhat dirty, could be identifying device type and defining height of status bar accordingly (this what you've done?)

[2016-01-27 13:11] souly1 commented on #16
Cool, closing this issue, update if reappears

[2016-01-27 13:11] #16 closed

[2016-01-27 13:12] souly1 commented on #10
Toda Lior,
Closing the issue

[2016-01-27 13:12] #10 closed

[2016-01-27 13:18] matthieu-D commented on #20
No I just used +20px since it worked on 5s and 6s plus. Your solution was
my second choice.
El 27/1/2016 8:09 a. m., "Ophir Stern" <notifications@github.com> escribió:

[2016-01-30 11:49] souly1 commented on #20
ok, cool. Thanks

[2016-02-16 23:06] tpanhorst commented on #21
To get this to work on iOS 8.3, I had to add a border-radius and change the box-shadow parameters a bit.  This is due to a bug on that version of iOS with box-shadow.  You can find the discussion for this bug here: https://discussions.apple.com/thread/6647986?start=15&tstart=0.

[code]

[2016-02-17 17:12] tpanhorst opened #26 "Hide Walkthrough being called multiple times with a single click."
So this problem happened to me after my first setup.  What is really happening is the walkthrough will popup, I will touch once, and it will rapidly close and reopen, close and then reopen again.  Ultimately skipping one of the walkthrough slides.

I am using the following directive:
[code]

With the controller code for that being:

[code]

Messing around with the source, the only way I was able t

[2016-02-17 17:15] tpanhorst commented on #26
An issue remains that if I remove the request animation frame, it simply closes and stays closed.

However, it still has a 1 second delay between closing and showing again.

[2016-02-17 17:18] tpanhorst commented on #26
Never mind, simply replacing the RAF with a $timeout of 0 fixed the delay.

[2016-02-17 22:30] souly1 commented on #26
Hi @tpanhorst, could you try to introduce a short 500+ ms timeout to your 'newWalkthrough' method, something along the lines of the code pasted below. I don't believe you want your users to click faster than 500-1000 ms between walkthroughs so i assume this is reasonable behaviour, let's see if it works.

$scope.nextWalkthrough = function() {
  ionic.requestAnimationFrame(function() {
 $timeout(fu

[2016-02-21 15:11] noamleib opened #27 "Formatting the caption"
Hi Guys,
It seems I'm unable to format the caption text not by html or ASS tags.
Am I missing something?

[2016-02-22 00:43] souly1 commented on #27
Hi @noamleib , what caption text are you referring to, as there is no caption field defined? do you mean the whole text in the ballon?

[2016-02-22 08:30] noamleib commented on #27
Hi @souly1
Yes, I'm referring to the main-caption directive (main-caption="This is some text"). Since the documentation mentions the text is formidable (

).
In my case, it's not a balloon since I'm using the transparency  walkthrough-type.

[2016-02-22 15:51] souly1 commented on #27
Oops, your totally right, I forgot the attribute is called "main-caption", so you try through CSS to format text and it doesn't work?

[2016-02-22 15:53] noamleib commented on #27
Tried to embed in the caption some html tags (h, p etc). Didn't work :-(

[2016-02-22 15:56] souly1 commented on #27
Could you perhaps add a plunker demo or cut n' paste code of what's not working?
Thanks

[2016-02-22 16:01] noamleib commented on #27
Lets say in JS I'm Doing:
$rootScope.captionSchedule = "Lets Start! \n To start a scheduling process click this button to tell Pepper who you would like to meet with."

HTML:
  <walkthrough
        id="walkthrough_schedulebutton"
        walkthrough-type="transparency"
        focus-element-id="schedule_button"
        icon="single_tap"
        force-caption-location="BOTTOM"
        main-caption=

[2016-02-22 16:11] souly1 commented on #27
You should be able use html as you see fit with the transclude option, and if you want to change style to whole text you can use the css element .walkthrough-text

[2016-02-22 16:34] noamleib commented on #27
Sorry, long hours... Don't know how I missed it. Thanks man!

[2016-02-22 16:45] souly1 commented on #27
No problem

[2016-02-22 16:45] #27 closed

[2016-02-23 01:16] grapemix opened #29 "The height of header bar in the android platform is being neglected"
When I am testing on the android platform when using the ionic framework, the height of the header bar is being neglected when I am trying the demo like this:

      <walkthrough
            id="Demo2"
            walkthrough-type="transparency"
            focus-element-id="focus-item"
            icon="arrow"
            main-caption="{{demoCaption2}}"
            icon-padding-left="30"

[2016-02-23 07:39] grapemix opened #30 "a connection for 'single_tab' is being called"
I noticed if I have a directive which includes single_tab in the icon field like this:

    <walkthrough
      icon="single_tap"
      is-round=true
      walkthrough-type="transparency"
      focus-element-id="company"
      force-caption-location="TOP"
      is-active="guideStep0"

a connection (https://WEB_SERVER_IP/single_tap) is started from the chrome dev console.

I already loaded ng-walkth

[2016-02-23 13:42] souly1 commented on #29
This solution in the pull is ok, but I'd rather not add another property. I've checked in a new version (https://github.com/souly1/ng-walkthrough/releases/tag/v0.4.2) which should be more automatic and generic, and also solving the server call for icons. It would be great if you could check it out in your code and update if issue solved.
Thanks

[2016-02-23 13:43] souly1 commented on #30
Closed with new version https://github.com/souly1/ng-walkthrough/releases/tag/v0.4.2

[2016-02-23 13:43] #30 closed

[2016-03-04 10:41] #29 closed

[2016-03-04 10:41] #25 closed

[2016-03-04 10:42] #26 closed

[2016-03-08 01:32] grapemix commented on #30
Sorry for the late reply. I tried the version 0.4.2 and everything works fine. Thanks.

[2016-03-08 01:32] grapemix commented on #29
Sorry for the late reply. I tried the version 0.4.2 and everything works fine. Thanks.

[2016-03-08 09:37] souly1 commented on #30
Cool, thanks!

[2016-03-08 20:09] jfbloom22 opened #31 "question: can this be used with caching turned on?"
It looks like the only way to selected an element is by ID.  But if I am caching the views in my Ionic app, won't this cause an issue?

[2016-03-08 20:47] souly1 commented on #31
It shouldn't cause issues, unless perhaps if your using multiple elements with same id

[2016-03-10 16:33] jfbloom22 commented on #31
I will sometimes end up with multiple elements with the same ID.  I should be able to workaround that by concatenating something unique onto the end of each element ID.

[2016-03-10 17:14] souly1 commented on #31
If I understood correctly, that should solve it - as long as the selector is unique, there should be no problem

[2016-03-10 20:43] jfbloom22 commented on #31
cool thx!

[2016-03-10 20:43] #31 closed

[2016-03-15 03:51] tonyasd2015 opened #32 "Position selected is not on the focus element"
Hi,
I am using ng-walkthough in my Cordova-Ionic mobile app. The layer and selection are showing but the selection(circle or rectangle) is not on the focus element.
Below the code I am using;
Also Is there any option to update the walkthough after loading all controls? and can I create the walkthough dynamically in javascript?
Please help me

[code]

[2016-03-15 19:56] souly1 commented on #32
Hi @tonyasd2015 , I'd be glad to help as best as I can.
Regarding the issue of the location - this is a known issue with Ionic where attempting to get the location of elements on the nabber returns zero values.An issue was opened on their forum, but did now receive any response (https://forum.ionicframework.com/t/how-do-i-get-button-locations-and-sizes-on-nav-bar/34587).
feel free to go there and

[2016-03-16 11:18] tonyasd2015 commented on #32
Hi Souly,
Thanks for the reply. I just solved by using an absolute positioned div that located over the control.
But now another problem. App crashing in android(Working fine in ios). it was working fine in android before adding the ng-walkthrough. It loads the initial gui but suddenly it crashes(disappears). i ttried in more than one devices and simulator. below the log-cat data got when crash th

[2016-03-16 17:07] souly1 commented on #32
Hi,
well looking quickly i've seen this written:

checkPermissionTypeStatus: no inject permission for { uid=10013, packageName=com.google.android.gms }. Returned permission was: PACKAGE_NOT_WHITELISTED for context name=POWER_CONNECTION

did you upgrade your cordova version, or perhaps done somethings (added a plugin?) with the power connection?
In any case, try removing the walkthrough and see if

[2016-03-16 18:28] souly1 commented on #32
scratch my last feedback about the issue, I dot think the package white listing is connected. Still, check any other changes and remove ng-walkthrough, I don't see how it can cause an app crash, at worse app stuck on white

[2016-03-22 13:59] souly1 commented on #32
@tonyasd2015 tried removing the walkthrough? any update about the issue?

[2016-03-22 15:00] tonyasd2015 commented on #32
Hi. Sorry for delay. No i didnt removed. The crash reason was due to showing a ionic modal popup at just after loading the application. i couldn't find the solution. So just removed the popup option. Now its working. Thank you very much your support!

[2016-03-22 22:22] souly1 commented on #32
Cool, no prob. good luck with your project!

[2016-03-22 22:22] #32 closed

[2016-04-07 21:56] jeansymolanza opened #33 "Experiencing ng-walkthrough display bugs with Ionic subheader"
Hi, I was wondering if you can help.

![capture](https://cloud.githubusercontent.com/assets/12545590/14366692/f27e88b6-fd0b-11e5-8ab9-5a71cb9e0c12.PNG)

I'm using a [subheader](http://ionicframework.com/docs/components/#subheader) on one of my pages and noticed 2 things:

1) **ng-walkthrough** starts rendering below the subheader. I'd like it to start rendering from straight below the header. Curr

[2016-04-08 17:54] souly1 commented on #33
Hi @jeansymolanza , I think you can move the walkthrough up the DOM tree and things will work fine.
Is the pastebin above runnable like plunkr? I tried to understand but couldn't find an activate point. If you'll upload a running example I'll take a look and play around with it a bit.

thanks

[2016-04-09 10:09] jeansymolanza commented on #33
Hi @souly. Moving up walkthrough up the DOM tree worked perfectly. Thanks a lot for your help!

[2016-04-09 10:09] #33 closed

[2016-04-09 12:43] souly1 commented on #33
No problem, thanks for sharing! good luck!

[2016-04-11 05:59] colaru opened #34 "Show walkthrough multiple times"
After I press on "Got it" the walkthrough is hidden. This is fine.
But When I make the is-active = true again, the walkthrough is now shown again.
Any way to make it visible multiple times?
Thank you!

[2016-04-11 06:00] colaru opened #35 "Help wizard"
I want to have a wizard for help: multiple walkthrough screens.
Is this possible?

[2016-04-11 09:58] souly1 commented on #35
Hello Colaru, how are you?
I think you are referring to a 'tour' walkthrough (http://www.uxbooth.com/articles/mobile-design-patterns/), this walkthrough is of tip/dialog/embedded/discoverable type. If you are aiming to a multiscreen walkthrough, you can, however, pop first screen and upon close open another and so forth (this is what I and several others do, see closed issues here for demoes on pl

[2016-04-11 09:59] souly1 commented on #34
Hi Colaru, please try to set a timeout on is-active = true and see if this solves your issue.

Thanks

[2016-04-12 02:29] colaru commented on #34
It works.
Thank you!

[2016-04-12 13:59] souly1 commented on #34
Cool, enjoy 👍

[2016-04-12 13:59] #34 closed

[2016-04-12 13:59] #35 closed

[2016-04-13 01:41] mbaiou opened #36 "Freezing in Ionic App with Menus (iOS and Android)"
The walkthrough sometimes freezes in my Ionic app, and prevents the user from tapping out of it. The walkthrough pops up and I've played with it in the chrome inspector tools. The touch is being registered and is modifying the css but it won't hide the walkthrough. My walkthrough is just an image

[2016-04-13 11:43] souly1 commented on #36
Hi @mbaiou , could you perhaps share plunkr with a demo of the scenario? otherwise it'll be pretty hard to deal with.
Thanks

[2016-05-08 10:48] Brueni92 opened #40 "Position Calcualtion wrogn with animation"
Ok I did found an Issue in my ionic app.
If I set the the is-active variable to true while the switch animation is on-going, it calcuclates the position of the highlight wrong.
I fixed this for me inserting a delay:
setTimeout(function(){
      $scope.showWalkthrough = true
    }, 500);

[2016-05-08 12:58] souly1 commented on #40
Hi @Brueni92 , thanks for the input, indeed this is the recommended behaviour at current and not solved from within the directive, might be addressed in future.
Thanks

[2016-05-08 12:58] #40 closed

[2016-05-13 01:20] candelibas opened #41 "[request] Ionic2 Support"
Adapting it to Ionic 2 would be awesome

[2016-05-13 09:35] souly1 commented on #41
Hi @candelibas , one of our future projects is planned for Ionic 2, so I might do a whole rewrite for ng-walkthrough then.

Thanks

[2016-05-13 23:51] candelibas commented on #41
Great to hear! Is there any hacky way to use it for our Ionic 2 project before you rewrite it?

[2016-05-14 08:44] souly1 commented on #41
No idea, I'm actually not up to date yet on the differences...

[2016-06-01 00:05] #36 closed

[2016-06-01 00:05] souly1 commented on #36
Closing due to lack of responsiveness

[2016-06-26 22:22] alissonmn opened #42 "Icon "arrow" not show"
Icon "arrow" not show:
Example:
`<walkthrough
            id="Demo2"
            walkthrough-type="transparency"
            focus-element-id="divTarget"
            icon="arrow"
            main-caption="Click here"
            icon-padding-left="30"
            icon-padding-top="0"
            force-caption-location="TOP"
            is-active="true"
            use-button="true">
 </walkthrough

[2016-06-27 18:17] souly1 commented on #42
Hi @alissonmn, this is the code from the demo, the demo works, so let's figure out what's going on:
* Did you add: 'ng-walkthrough.tap_icons.js' file?
* Does the focus on element divTarget work?

[2016-06-27 19:48] alissonmn commented on #42
- Did you add: 'ng-walkthrough.tap_icons.js' file? :: YES
- Does the focus on element divTarget work? :: YES

But "arrow" not display

[2016-06-27 19:53] souly1 commented on #42
OK,
could you perhaps create a plunkr recreating the symptom, as it is currently working for the demo with the latest code and your example from above is pretty much the same, that could be a great place to start,

Thanks

[2016-06-28 10:48] Floppy1009 opened #43 "Arrow and text misplaced"
As I tried to include ng-walkthrough to my Ionic project I've got the problem that the arrow and the text is not placed correctly as you can see on the screenshot below.
I even started a new ionic project to ensure there is nothing else interfering. Still same problem. In fact the screenshot comes from that new project.
Is this a known bug or is it just me? :smile:
If needed I can provide the proj

[2016-06-28 10:54] souly1 commented on #43
Could be a bug, as opened recently in https://github.com/souly1/ng-walkthrough/issues/42
A zip or plunkr would be great, as the demo works with the arrow with current code.

Thanks

[2016-06-28 13:02] Floppy1009 commented on #43
Here the Zip of the project:
If you have installed ionic you can simply run 'ionic serve' to try it.
But i guess you know that :)

[ngWalkthroughTest.zip](https://github.com/souly1/ng-walkthrough/files/337034/ngWalkthroughTest.zip)

[2016-06-28 13:46] souly1 commented on #43
Cool, I'll try to get to it in the upcoming days.
Thanks!

[2016-06-29 22:33] souly1 commented on #43
Hi @Floppy1009, new version with fix uploaded. Please update as if issue solved,
thanks

[2016-06-29 22:34] souly1 commented on #42
Hi @alissonmn, an issue with the arrow (https://github.com/souly1/ng-walkthrough/issues/43) has been resolved and a new version uploaded. Tell me if your issue has been fixed and if not please add a plunkr or upload a demo.

Thanks

[2016-06-30 08:55] souly1 commented on #43
Yes, it is set to center of highlighted area on purpose, you can use offsets to change.
Thanks, and good luck

[2016-06-30 08:55] #43 closed

[2016-07-05 07:30] onyoo opened #44 "Grey background not showing"
I ran through all the examples in the [Plunker](http://plnkr.co/edit/kHM9zHCxAA3gPYvedmdw?p=preview)  and there are a few common problems:
    - walkthrough background is not grey
    - walkthrough container is not overlaying the existing DOM elements

I'm going to keep looking into this, but any help identifying what is going on would be great.

[code]
Demo1:
[code]
<img width="384" alt="screen s

[2016-07-05 07:42] onyoo commented on #44
The size of the blank space is proportional to the target item (in this case the OAuth button). So to get out of the walkthrough users must click the blank space or the touch icon.

[2016-07-05 08:53] souly1 commented on #44
Hi Roberto, nice to e-meet. Several questions:
* On what device don't you see the grey background
* Have you looked into other open/closed issues here?
* Can you perhaps supply a demo with the issues and on what device they appear.

Thanks

[2016-07-05 10:13] onyoo commented on #44
Hey Ophir,
- I've tested in browser, iOS emulator, and Android with consistent results.
- I've looked at other issues, but haven't come across a similar one. Will keep looking.
- Working on getting an accurate recreation in Plunker. Will post when done.
Thanks for the speedy response!

[2016-07-05 10:32] onyoo commented on #44
Ok. I didn't bring-in ionic, but recreated the results:

https://plnkr.co/edit/BkRQ6wCOmPYkwhcRwmla?p=preview

I'm going to try to work backwards from the demo to see if I can find some more clues.

[2016-07-05 10:55] onyoo commented on #44
Caught the mistake in the plunker above. I didn't require the `ng-walkthrough.css` file. This is probably the issue in my app too. A silly mistake as it is in the README. Sorry about that!

[2016-07-05 10:55] #44 closed

[2016-07-05 11:09] souly1 commented on #44
Cool Onyoo, great the issue was solved, if any other issue surfaces feel free to post.

[2016-07-05 12:22] onyoo commented on #44
Ok, so the fix didn't work immediately in the app, but here's why. I was linking to the stylesheet locally with:
`<link src="lib/ng-walkthrough/css/ng-walkthrough.css" rel="stylesheet"></link>`

I verified the path, and the text is identical to the GH link. Yet the code below works correctly. I think there may be something in the way code is loaded? Not sure yet, and will look into this in the fut

[2016-07-08 08:44] elpofigisto opened #45 "Show tip after $state.go"
When i have to show next tip on other state,  it shows prev focused area.
After new state is loaded and I go to next step on that state it works well.
On project we're using AngularJs + ui-router.
How it's possible to wait while state is ready, then focus on needed element ?

Part of code:

[code]

[2016-07-09 08:18] souly1 commented on #45
Hi @elpofigisto, nice to meet.

Did you try looking at ui-router's documentation about identifying when transition animation done? maybe their `$stateChangeSuccess` event handler does the job?

Thanks

[2016-07-10 06:15] souly1 commented on #11
Hey @randdusing, The new version should have solved the first issue, and might have solved the second as well.
Any chance you check it out and give us feedback?
Thanks

[2016-07-10 06:15] #20 closed

[2016-07-10 06:16] #42 closed

[2016-07-10 13:14] randdusing commented on #11
Hi souly1, I'm no longer working on the mobile app that used this, but I'll try it out on fresh Ionic app.

[2016-07-10 13:15] souly1 commented on #11
Sounds great, thanks!

[2016-07-23 09:24] souly1 commented on #45
Any update @elpofigisto ?

[2016-08-07 16:11] randdusing commented on #11
I don't remember exactly how I was using ng-walkthrough previously, but first issue is resolved. The other issue with the whole still occurs even using the latest version of Cordova iOS and iOS itself. Most likely an issue with Safari not liking huge box shadow values.

[2016-08-07 16:29] souly1 commented on #11
cool @randdusing , Highly appreciate you taking the time to check. I'll close the issue for and if will surface again deal with it then.

Thanks!

[2016-08-07 16:29] #11 closed

[2016-08-07 16:30] randdusing commented on #11
Thanks for your work!

[2016-08-11 14:29] souly1 commented on #45
Closing due to lack of responsiveness

[2016-08-11 14:29] #45 closed

[2016-08-30 01:17] sunil07t opened #46 "Element focus bug"
Hi @souly1 I am trying to use ng-walkthrough but there is bug with focus-element-selector attribute. It does not focus on the given DOM element. The id is only set to one element, which is an arrow that changes when the user presses it.
I am using the following HTML code:

      <walkthrough
            walkthrough-type="transparency"
            focus-element-selector="#dashboard-first-demo"

[2016-09-01 14:18] souly1 commented on #46
Hi @sunil07t , sorry for the late reply.
Could you perhaps create a plunkr with a demo of the issue?
Thanks!

[2016-09-09 15:18] umdstu opened #47 "`Invalid value for <path>` error in console"
Added the js and css files, injected the module, but when i load the page there are \n's everywhere and a transparent background, and the above error in the console.

`Error: Invalid value for <path> attribute d="M' + startLeft + ',' + startTop + ' Q' + startLeft ...`

In addition to the above error, there's a 'SyntaxError: Unexpected token ILLEGAL' @ Function.jQuery.extend.globalEval.

Any ideas?

[2016-09-09 15:31] umdstu commented on #47
So, just noticed that master is at v1, but the version I have, which I pulled from npm, is still at 0.3.1. Can you update npmjs.org version and I can give it another whirl?

Thanks

[2016-09-10 06:34] souly1 commented on #47
Hi @umdstu , thanks for the update. app version upgraded in npm

[2016-09-13 18:51] #47 closed

[2016-09-13 18:55] umdstu commented on #47
Thanks man, i'll give it ago this week!

[2016-09-21 16:06] AppwareDev opened #49 "id property is ignored"
I'm trying to style a specific instance of the walkthrough directive by using an id like this:

`<walkthrough id="walkthrough-step-one"...`

However the id is ignored and seems to be stripped from the HTML once the App runs. This used to work in a previous version. How can I target a specific instance of the walkthrough?

[2016-09-21 17:35] souly1 commented on #46
Any update @sunil07t ?

[2016-09-21 17:37] souly1 commented on #49
Hi @AppwareDev , your absolutely right, a new property was added, `wid` (see readme)  which sets the id of the walkthrough. Take note that the walkthrough element is removed from DOM once closed, so this id will only be relevant when the walkthrough is open.
Update me on how it works out for you.

thanks

[2016-09-21 17:37] #49 closed

[2016-09-21 18:18] AppwareDev commented on #49
Aha, thanks.

I still don't seem to be able to use that id in my css though. Should the `wid` act like a traditional HTML id? All I'm trying to do is adjust the CSS styling depending on the active walkthrough.

[2016-09-29 08:55] einlourice opened #50 "[request] Button label can be modified"
It would be nice if we can change the label instead of a static "Got It" text.

[2016-09-30 17:12] souly1 commented on #50
Good idea, I'll add it when I'll have some free time, thanks!

[2016-10-01 18:28] sunil07t commented on #46
Hi @souly1, sorry for late reply. We ended up using another walkthrough.

[2016-10-01 18:28] #46 closed

[2016-10-26 07:17] jeson114 opened #51 "Walkthrough does not destroy on hardware back button while is-active = "true""
<walkthrough is-round=true
             walkthrough-type="transparency"
             focus-element-selector="#focus-Item"
             icon="new_hand"
             main-caption="Click to follow / Unfollow the Account"
             is-active="isHelp"
             icon-padding-left="20"
             icon-padding-top="20"
             use-button="true"
             has-glow="true"
             on-wal

[2016-10-26 08:08] souly1 commented on #51
Hi @jeson114
Regarding the first issue, I see no reason this should not work, conceptually, so I'm guessing that cordova/ionic registration and call to events (aka `registerBackButton`) does not take into play the Angular lifecycle.
Try adding a `$scope.$digest();` after `$scope.isHelp = false;` and see what happens

About the second issue: I assume the back button not being usable is because the

[2016-10-27 18:37] amargarido commented on #41
+1

[2016-10-28 22:36] andresarslanian opened #52 "html in caption"
hi! I can't use html in captions...

I think that is because you use ng-bing="mainCaption" instead of using ng-bind-html="mainCaption"

it could be included in the future if you think it's possible!

thanks!!

[2016-10-29 07:11] souly1 commented on #52
Hi, a believe you're referring to pull request https://github.com/souly1/ng-walkthrough/pull/48 ,
this needs to be addressed in a secure manner, backward compatible, both platforms (Android/iOS) with tests passing, then could this feature be added. You're invited to dig into it if you feel like it :)

Thanks

[2016-11-08 09:45] RahulJyala opened #53 "how to Hide walkthrough to start another walkthrough in the same page ?"

[2016-11-08 09:46] souly1 commented on #53
Hi Rahul, the question is not clear, can you elaborate please?
Thanks

[2016-11-09 04:23] RahulJyala commented on #53
i want call another walkthrough  on-walkthrough-hide so i can get multiple walkthrough at the same page to introduce modules ....

here what i'm doing =>

[code]

[2016-11-09 06:03] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:03] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:03] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:03] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:03] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:03] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:03] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:03] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:03] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:03] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:03] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:03] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:03] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:03] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:03] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:03] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:03] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:03] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:03] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:04] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:04] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:04] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:04] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:04] RahulJyala commented on #53
also having problem in focus-element-selector multiple item error in log :

<div ng-controller="WalkthroughController" >
  <walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-wa

[2016-11-09 06:12] RahulJyala commented on #53
also having problem in  focus-element-selector :

<div ng-controller="WalkthroughController" >

<walkthrough id="walkthrough_elem" walkthrough-type="tip"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
   focus-element-selector="#focusItem"
	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-content-clicked="nextFunction()"
	on-walkthrough-hide="nextFunctio

[2016-11-09 06:29] RahulJyala commented on #53
Also Having problem in  ID selector  it is igonered by walkthrough

I tried both Wid & focus-item-selector for focus in element

`<div ng-controller="WalkthroughController" >
<walkthrough wid ="step1" walkthrough-type="tip"
       focusElementId="#step1"
	has-glow="false" is-round="true" main-caption="{{ mainCaption }}"
  	 is-active="isActive" use-button=true icon="single_tap"
  on-walkthrough-co

[2016-11-09 06:33] RahulJyala commented on #53
also having probleam on focus element , Id  is igonerd by walkthrough however i used bot wid and focus-element-id for focus multiple items

[2016-11-09 18:31] souly1 commented on #53
In order to switch the text in the walkthrough and reactivate  add into you "nextFunction" method the change and set isActive to true. make sure to wrap it in a $timeout with a reasonable time between them to avoid glitches (500ms+ )

Tell me if this helps.
Thanks

[2016-11-09 18:31] #51 closed

[2016-11-10 04:17] RahulJyala commented on #53
this is what i done and worked for me , but having problem in ID it is igonered by walkthrough all nextfunction is changed into single tip , not rendering i want that when my single tip is closed render into anothertip with i selected by ID.

Thanks

[2016-11-10 12:49] RahulJyala commented on #53
ID is ignored by walkthrough so it can't render into diff parts all tip shows into one place

 tell me if you have something
Thank you

[2016-11-11 11:22] RahulJyala commented on #34
hey guys, can you tell me multiple time walkthrough ?

thanks

[2016-11-11 11:30] souly1 commented on #53
Hi Rahul wID is used to set the ID of the walkthrough component as it is generated outside the current scope and appended to body

[2016-11-11 12:56] RahulJyala commented on #53
ahhh, thanks
also want to know multiple time walkthrough , how can i conquer that , so far i tried $timeout but still walkthrough shows only once ?

any help
thanks :)

[2016-11-11 13:26] souly1 commented on #53
Hi Rahul, assuming I understood you correctly, the same walkthrough but adding changes and then reopening, then yes, this is the process. perhaps try a bigger timeout of 1500ms, see if that makes a change. If that does not work i would debug the code and see that bound values for the walkthrough change as expected, if not, then something is wrong with your binding. if yes, but still does not show,

[2016-11-12 10:25] RahulJyala commented on #53
yes finally it works .
Thanks man :D

[2016-11-13 07:47] souly1 commented on #53
Glad to hear, good luck!

[2016-11-13 07:47] #53 closed

[2016-11-14 04:49] RahulJyala opened #54 "Show walkthrough once"
I want to show walkthrough only  once in my application ?
how can i achieve it ??
any idea?

Thanks

[2016-11-14 15:17] souly1 commented on #54
Hi Rahul, I'm unclear as to your question, you're able to show it multiple times (your previous question) but fail to show once?

[2016-11-15 04:14] RahulJyala commented on #54
No , in my app where i'm applied walkthrough , i want to show walkthrough only one time in my application by one time means once the user uses the app he is able to show entire walkthrough only one time not again and again with refresh .

Thanks

[2016-11-15 19:30] souly1 commented on #54
Managing that it will not appear more than once depends on your app logic. The most popular way to do it is hold a flag in local memory if walkthrough done, check it each time and set it to true on walkthrough close.
Hope this brief explanation helps.
Thanks

[2016-11-16 13:14] RahulJyala commented on #54
Yes, this is what I done so far , but clearing cache will reactive walkthrough So i guess I need to store is in database

Thanks

[2016-11-16 13:22] souly1 commented on #54
Clearing browser cache will reactivate walkthrough with this kind of solution, but why would one clear cache? also, this might be a good think, giving ability to reset walkthrough's easily so that one can reload them.
And of course you can always use other persistent memory solutions such as a database or such...
Good luck!

[2016-11-16 13:22] #54 closed

[2016-11-16 15:29] mstikkelorum commented on #41
+1

[2016-12-07 01:04] mevillep opened #55 "unable to do next"
<walkthrough
  is-active="showAccountsWalkthrough"
   id="accounts_view_walkthrough"
   walkthrough-type="transparency"
   focus-element-id="{{ accountsWalkthrough.steps[accountsWalkthrough.currentIndex].id }}"
   main-caption="{{ accountsWalkthrough.steps[accountsWalkthrough.currentIndex].text }}"
   force-caption-location="TOP"
    has-glow = "true"
   on-walkthrough-hide="nextAccountsWalkthroug

[2016-12-07 01:10] mevillep commented on #55
@souly1

[2016-12-07 14:52] souly1 commented on #55
Hi @mevillep , in order to reload the walkthrough please place the next `showAccountsWalkthrough=true` inside a short timeout.
Tell me if things work out.

Thanks.

P.S If you're using angular/ionic, which you are, it is better you'd use $timeout rather than setTimeout so things will be in the angular lifecycle, otherwise this could be another reason why you would not see changes you expect.

[2016-12-07 15:40] mevillep commented on #55
Perfect. Thanks!!

[2016-12-09 18:36] #55 closed

[2016-12-12 18:06] mevillep opened #56 "unable to hide Walkthrough"
I have disabled the Got it button. I am having a 'next function ' inside the on-walkthrough-hide. SO when a user clicks anywhere on screen, the on-walkthrough-hide fires the next function and I go to the net step. Now I am wanting to have a button that hides the walkthrough. How am I able to achieve that? If i do a use-button = 'true', it will fie the next function, and go to the next step. Please

[2016-12-13 18:05] souly1 commented on #56
Hi @mevillep , sorry but i do not understand the issue, could you perhaps clarify.

Thanks

[2016-12-14 23:00] souly1 commented on #50
@mlabarca added solution to this with https://github.com/souly1/ng-walkthrough/pull/57

[2016-12-14 23:00] #50 closed

[2016-12-18 10:04] chaosLegacy commented on #20
Hi,
I've start using this awesome directive for my company project and i have some difficulties trying to adapt to my needs so what i'm looking for is a way to let the step increment by user action for example click on add client to continue (see picture 1)
my other problem is i have to adapt that on different devices i've found that the directive does not scroll to the element (see picture 2).
<i

[2016-12-18 10:14] chaosLegacy opened #58 "unable to scroll to the element"
Hi,
I've start using this awesome directive for my company project and i have some difficulties trying to adapt to my needs so what i'm looking for is a way to let the step increment by user action for example click on add client to continue (see picture 1)
my other problem is i have to adapt that on different devices i've found that the directive does not scroll to the element (see picture 2).
<i

[2016-12-19 13:17] souly1 commented on #58
Hi @chaosLegacy ,
about the first issue, this is a v very good idea, but this feature does not exist in the directive...
Regarding your second problem, I'm not sure I understood it, if the item is not on screen, then scroll to element from without the walkthrough and then activate it (if I understood correctly).

Hope this helps,
thanks

[2016-12-22 11:32] dhavalkshah commented on #41
+1 - Is it now available for Ionic 2. If yes, please provide the pointers. If no, any expected date by which that would be available.
Many Thanks in advance

[2016-12-22 11:34] souly1 commented on #41
Hi @dhavalkshah , it is not available for Ionic 2 and most likely not be added.

Thanks

[2017-01-03 16:08] jonnysmith1981 opened #59 "How to apply the transclude option?"
The documentation suggests it is possible to use HTML within the "walkthrough" block to format the caption:

But when i try something simple like
[code]

It just renders the _h1_ at the top of the page as if it were normal HTML. This is easily reproduceable on the plunker demo:

![screen shot 2017-01-03 at 16 21 19](https://cloud.githubusercontent.com/assets/8254912/21614274/b5ffd0b2-d1d0-11e6-8f2

[2017-01-03 16:16] jonnysmith1981 opened #60 "Not specifying an icon gives a spurious "icon" textbox"
I am trying to create a walkthrough step *without* an icon, using this HTML:
[code]

However i am getting a weird textbox with the word "icon" in it appearing quite a way above the walkthrough step

![](https://cloud.githubusercontent.com/assets/8254912/21614145/2fa1950a-d1d0-11e6-8a1e-d2c822bcf872.png)

[2017-01-04 08:17] souly1 commented on #59
Ho @jonnysmith1981 , form what you show above it seems transclusion is at work (e.g the `hello`).
what exactly do you mean?

[2017-01-04 08:18] souly1 commented on #58
Closing due to now activity. I'll reopen if you'll still have the issue

[2017-01-04 08:18] #58 closed

[2017-01-04 08:18] #56 closed

[2017-01-04 08:21] jonnysmith1981 commented on #59
Closing this issue as i completely misunderstood what i should have been doing.

[2017-01-04 08:21] #59 closed

[2017-01-04 08:34] souly1 commented on #60
Fixed in v1.0.4
Download and update here if issue resolved.
Thanks

[2017-01-10 10:49] souly1 commented on #60
Assume closed due to lack of response.
Will reopen if still exists

[2017-01-10 10:49] #60 closed

[2017-01-10 17:43] moosi opened #61 "Arrow not displayed"
I am building a mobil (first) application based on angular-material and your plugin perfectly fits my requirements for the onboarding process. Unfortunately I am facing the problem that the arrow I like to use is not getting displayed. If I use any of the icons it will show up at the correct position.

I used the demo to start with:

[code]

Angular: 1.3.20, ng-walkthrough: 1.0.4

Do you have any

[2017-01-19 02:09] mkj-git opened #62 "On hide event not firing"
I was trying to call a function if i click "Got it" button but event is not getting fired.

[code]

next() is not getting called

[2017-01-20 20:59] souly1 commented on #62
Hi @mkj-git , sorry for the delay.
the walkthrough is over angular 1, so I assume the issue is that you wrote `on-walkthrough-hide="next"`instead of `on-walkthrough-hide="next()"`
Tell me if this solved the issue.
Thanks

[2017-01-20 21:00] souly1 commented on #61
Hi @moosi , sorry for the late reply.
Did you manage?
I'm not sure as to the issue, if you can create a plunkr I could take a look.

[2017-01-26 14:51] souly1 commented on #62
Closing due to lack of responsiveness

[2017-01-26 14:51] #62 closed

[2017-02-21 10:34] ro8in opened #63 "not showing"
Ok feeling a bit stupid here,

but i included the js en css files

and i add the following html to one of my templates

[code]

but nothing is showing.. Also no JS errors or anything..

What am I missing?

[2017-02-21 10:36] ro8in commented on #63
I added the following console log to the directive just to make sure its started

console.log('walkthrough directive started');

and it shows in my console when i load the app.

[2017-02-21 11:03] ro8in commented on #63
never mind the active true i am stupid

[2017-02-21 11:03] #63 closed

[2017-02-23 13:40] souly1 commented on #63
Hi @ro8in , thanks for reaching out, glad the issue was solved.

[2017-02-24 06:31] sengoontoh commented on #34
Can you clarify what you mean by timeout on is-active = true?
I've tried to toggle the scope variable that is assigned to is-active from false to true and it did not show the walkthrough the second time onwards. It only works the first time.
Thanks

[2017-02-25 21:58] souly1 commented on #34
Hi @sengoontoh , For the second time and beyond, when setting is-active=true; wrap it in a timeout:
$timeout(function(){
    is-active=true;
},100);

Update how it goes. Good Luck!

[2017-03-09 11:23] hanifraj-virtueinfo opened #65 "I want to show straight Arro from bottom up"
![004](https://cloud.githubusercontent.com/assets/16152546/23748231/bd017bc2-04e8-11e7-8866-85a317b19d25.png)

Please see attached image i want to show arrow as stright & in this library arrow direction is only right (ex. -> ) but i want arrow direction left (ex. <- ) please i waiting for your response quickly.

Thanks

[2017-03-09 11:56] rajesh-vi opened #66 "How to change tap icons?"
Hello,

I'm using ng-walkthrough for displaying tutorial in my app and I want to change tap icons which is defined in **ng-walkthrough.tap_icons.js**.
Can you please guide me to do that?

Thanks

[2017-03-09 12:11] hanifraj-virtueinfo opened #67 "Fix single_tap"
![005](https://cloud.githubusercontent.com/assets/16152546/23749782/e215e5a4-04ef-11e7-8833-c6264aa48091.png)

I have fabbutton at bottom right in my application. and **single_tap** icon is showing out of device screen.
See attached image.

Second question : can i decrease icon size in this library ?

Please response me ASAP

[2017-03-09 12:18] souly1 commented on #65
Hi @hanifraj-virtueinfo , I do not currently have capacity to deal with it. You are more than invited, however, to make changes on this open source library as you feel fit.

Thanks

[2017-03-09 12:18] #65 closed

[2017-03-09 12:21] souly1 commented on #66
Sure,
what you need to do is convert the png image to a base64 array, then just copy paste & replace the current values in the file.
Another option is changing the code a bit to load images from outside as icon, if fits your needs.

Good luck!

[2017-03-09 12:21] #66 closed

[2017-03-10 05:16] hanifraj-virtueinfo opened #68 "In IOS overlay is not working."
I have test with android device its working properly but in IOS is not working.

[2017-03-10 13:45] rajesh-vi commented on #66
Hello @souly1
I don't think change code in package directly, is there any way to override that base64?

Thanks

[2017-03-12 09:33] souly1 commented on #66
Sorry Rajesh, nothing for that specifically. You can, however, set any icon you want using the "icon" attribute:
`icon` (optional) - Any walkthrough type. If set to any of the predefined values ("single_tap", "double_tap", "swipe_down", "swipe_left", "swipe_right", "swipe_up"), in such case the icon will be bound to focus element (if exists), make sure to add 'ng-walkthrough.tap_icons.js' followin

[2017-03-12 09:35] souly1 commented on #68
https://github.com/souly1/ng-walkthrough/issues/21

[2017-03-12 09:35] #68 closed

[2017-03-12 09:37] souly1 commented on #67
hello, I do not understand your question:
You can move the icon using attributes `icon-padding-left` and `icon-padding-top`
And you can change image size using CSS on the image.

Hope this helps. good luck!

[2017-03-12 09:37] #67 closed

[2017-03-12 09:38] #61 closed

[2017-03-19 08:51] giomarino opened #69 "Rotate Hand icon"
I have an element in the bottom of the page, if I use the hand icon, it will be hide:
<img width="543" alt="schermata 2017-03-19 alle 09 50 05" src="https://cloud.githubusercontent.com/assets/7312722/24079493/814dcc86-0c89-11e7-8d34-8663ebcf38cf.png">
How I can rotate the icon?

[2017-03-19 10:46] souly1 commented on #69
Hi @giomarino , thanks for reaching out.
You can try to rotate via css or switch the image with another, there is no current built in support for the feature. Sorry

[2017-03-19 10:46] #69 closed

[2017-03-19 11:13] giomarino commented on #69
Okok...No problem, thank you for this awesome library!

[2017-03-27 19:19] stripathix commented on #55
Adding $timeout not working ...only step-1 works
`
  $scope.showMeteogramWalkThrough = true;

            $scope.meteogramWalkThrough = {
                steps: [{
                        id: "btn-menuburger",
                        text: "Some text here"
                    },
                    {
                        id: "btn-fav",
                        text: "Some text here"

[2017-03-27 19:32] stripathix commented on #55
My bad i was having this in directive markup:
`
is-active="true"
`

Works now :-) awesome...

[2017-03-28 06:20] stripathix opened #70 "Button caption missing"
Directive not have any mapping for buttonCaption
`
buttonCaption: '@?',
`

`  if(scope.buttonCaption === undefined ){
                          scope.buttonCaption = BUTTON_CAPTION_DONE;
                        }`

[2017-03-28 13:11] souly1 commented on #70
Hey @stripathix , can you be more specific,
Checking it here it looks working with 'Got it!' caption

[2017-03-28 13:45] stripathix commented on #70
Yeah, it does shows 'Got it!' caption... by default but not able to configure it:

**In documentation it is like this to configure Got it caption**
button-caption (optional) - Customize the text of the dismiss button if present, default is "Got it!".

But looking inside ng-walthrough.js, directive is not accepting buttonCaption attribute...

It always shows 'Got it' caption

[2017-03-29 06:17] souly1 commented on #70
@stripathix , where are you looking at?
Looking at code I see:
`scope.buttonCaption = scope.buttonCaption || BUTTON_CAPTION_DONE;`
and setting `button-caption = "Go!"` on the directive set caption to `Go!`

[2017-03-29 07:00] stripathix commented on #70
Ohhhhh...
Doing **npm install ng-walkthrough --save** installs 1.0.2  version and in this version buttonCaption was not an option.... sowieee

Shashwats-MacBook-Pro:exporter shashwat$ npm install ng-walkthrough --save
exporter@1.0.0 /Users/shashwat/projects/expimp/exporter
└── ng-walkthrough@1.0.2

[2017-03-29 07:00] #70 closed

[2017-03-29 07:09] souly1 commented on #70
No prob.
Thank you, updated NPM

[2017-04-15 19:46] danielehrhardt commented on #41
+1

[2017-05-15 21:06] appBat commented on #41
+1

[2017-07-22 23:22] marciborba opened #71 "ionic 3"
Hi
Thank you for your great project!

Is there some version of your project available to ionic 3?

Thank you very much.

[2017-07-23 05:19] souly1 commented on #71
Hi @marciborba , with pleasure.
Currently there is no version aside to Ionic 1, sorry.

[2017-07-23 05:19] #71 closed, assigned to nobody

[2017-07-29 12:20] Matt2012 commented on #41
+1

Would supporting you with a donation help to get this migrated to ionic 2?

[2017-07-29 13:31] NBAMj commented on #41
+1

[2017-08-07 10:44] mubasshir commented on #41
+1

[2017-08-28 06:02] DaniNitro commented on #34
My code for second walkthrough is
$scope.show = function()
		{
			$timeout(function (){
				$scope.isActive = true;
			},500);
		}
in function and is getting called 'on-walkthrough-hide', still its not working

[2017-10-07 21:02] tekkenking commented on #41
Please ionic 2 support. I really would appreciate.

[2017-10-08 17:44] airstep commented on #41
Ionic 3 support ;)

[2017-11-23 09:29] neerajjain92 commented on #53
@RahulJyala How it works, can you tell us I am also facing the same issue.

[2017-11-29 12:11] ghost opened #72 "Only one walkthrough is visible if we use same type of walkthrough on one screen"
I have created one new transparency type walkthrough. It is not visible when clicked on show new demo button .

http://plnkr.co/edit/Ziqvp7sN2Xyv6t2FbPNY?p=preview

[2018-01-19 10:18] vshanbha opened #73 "Unable to include ng-walkthrough through use of require"
We tried to load the ng-walkthrough like any other angular js module using
require('ng-walkthrough')
However it appears that the module does not get loaded and further search (mostly comparing with source of other anuglar modules) suggested that the js file does not export any node style modules.

i.e a statement called module.exports = <something> seems to be missing in the code.

Can we add abil

[2018-02-05 20:04] q9957789 commented on #41
+1

[2018-03-05 16:25] Nitro187 opened #74 "Screen does not disappear and freezes when user clicks back, instead of on walkthrough"
When there is a walk through screen up, and the user clicks back, instead of on the actual walk through... the current walk through screen stays on top, and does not disappear, but also makes it impossible for a user to now exit that walk through, as you cannot tap on it - it just sits there... forcing a user to have to now close the entire app to continue.

I was able to circumvent this, by addin

[2018-03-05 16:32] Nitro187 commented on #74
Easy fix... thankfully:

[code]

But perhaps there is another way?  Maybe prevent the backbutton to be used?  Either way - hopefully this helps someone else.

[2018-03-19 10:16] tjvg91 opened #75 "Angular 2 Counterpart"
Is there an Angular 2/4 counterpart for this? Thanks

[2018-04-11 09:09] mpadmaraj commented on #75
Found this which is inspired by ng-walkthrough of angular 2: https://github.com/Zefling/ng-walkthrough

[2018-05-25 05:40] leoku333 opened #76 "walkthrough-hole is not aligning with the element"
I'm using ui-router and I have the walkthrough directive placed in the top parent view.  I originally had the directive in my scheduler view that contains the feature I want to frame.  The hole is the right size  but just not aligned with the element I want to frame.  What can I do to fix this?

<img width="1243" alt="screen shot 2018-05-25 at 12 36 04 am" src="https://user-images.githubuserconten

[2018-07-16 13:50] NarendraGumma opened #77 "i am unable to show multiple walkthroughs in ionic mobile application and focused rounded area not showing on the selected element"
i tried with  below code

<walkthrough
    id="accounts_view_walkthrough"
    walkthrough-type="transparency"
    icon="double_tap"
    has-glow="true"
    focus-element-selector="{{ accountsWalkthrough.steps[accountsWalkthrough.currentIndex].id }}"
    main-caption="{{ accountsWalkthrough.steps[accountsWalkthrough.currentIndex].text }}"
    is-active="showAccountsWalkthrough"
    on-walkthrough-h

[2018-07-18 09:54] #77 closed, assigned to nobody

[2018-09-05 05:30] damonsomu commented on #41
+1

[2018-11-05 11:49] SDohle commented on #75
Hi,
we have a similar component for current angular versions:
https://github.com/rosen-group/ngx-onboarding

[2018-12-24 07:20] ansarikhurshid786 commented on #41
+1

[2019-07-11 11:54] bhecht2 opened #78 "package.json, main is pointing to karma.conf.js instead of to ng-walkthrough.js"
Hi,

In package.json, main is currently pointing to karma.conf.js instead of to ng-walkthrough.js.
This is causing a problem when trying to use browserify to scan the files.

BR,